.container-fluid {
    padding: 0px;
    margin: 0px;
}

.container-fluid > main {
    min-height: 75vh!important;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

body {
    background-color: #FA8BFF;
    background-image: linear-gradient(0deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.d-flex .w-100 img {width: 100%;}
.card a img {width: 100%;}

.bg-dark {background-color: #003285;}
.bg-light {background-color: #2A629A;}
.bg-orange {background-color: #FF7F3E;}
.bg-yellow {background-color: #FFDA78;}

.text-dark-i {color: #003285!important;}
.text-light-i {color: #2A629A!important;}
.text-orange-i {color: #FF7F3E!important;}
.text-yellow-i {color: #FFDA78!important;}

.text-dark {color: #003285;}
.text-light {color: #2A629A;}
.text-orange {color: #FF7F3E;}
.text-yellow {color: #FFDA78;}